.program-carousel-container {
  width: 100%;

  .program-carousel {
    background: #000;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 50px 30px;
    position: relative;

    .program-carousel-inner {
      display: flex;
      flex: 1;
      flex-wrap: nowrap;
      overflow: hidden;
      gap: 24px;
    }

    .carousel-btn {
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      background: #313132;
      box-shadow: 0px -2px 4px 0px rgba(38, 40, 47, 0.4);
      &:first-child {
        position: absolute;
        left: 10px;
        z-index: 1;
      }
    }
  }
}
